body {
  text-align: center;
  background-color: rgb(184, 165, 169);
}

.display-4 {
  margin-top: 5%;
  text-align: center;
}

.btn-dark {
  margin-top: 2%;
}

img {
  float: center;
  width: 25%;
  height: 25%;
}